@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@/components/UIComponents/Button/button-styles.module.css");

body, html {
    @apply bg-gray-100 font-mona-sans;
}

::selection {
    @apply bg-gray-300 text-gray-900;
}

.section-content-container {
    max-width: 1200px;
    @apply mx-auto;
}

#tracks {
    cursor: url("../public/ios-emojis/school-bag.svg"), default;
}

/* Font Import */
@font-face {
    font-family: "Mona Sans";
    src: url("../public/fonts/Mona-Sans.ttf");
}